<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Calculator"></activity>
        <activity android:name=".ui.Ebook" />
        <activity android:name=".model.DataClass" />
        <activity android:name=".ui.CalorieCal" />
        <activity android:name=".ui.UserLogIn" />
        <activity android:name=".ui.UserSignUp" />
        <activity android:name=".ui.DocSignUp" />
        <activity android:name=".ui.Dashboard" />
        <activity android:name=".ui.DocDashboard" />
        <activity android:name=".ui.AddNewEntry" />
        <activity android:name=".ui.FoodDietChart" />
        <activity android:name=".adapters.DisplayLogActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>